body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.section-container {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1em;
    line-height: 1.6;
}

.section-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(77, 0, 77, 0), rgba(77, 0, 77, 0.75), rgba(77, 0, 77, 0));
}

.container-title {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding-top: 20px;
}

.container-content {
    padding: 5%;
}

.noScroll {
    overflow: hidden;
}


/******************* navbar *******************/

.navbar {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: transparent;
}

.navbar-nav {
    text-align: right;
}

.navbar-brand {
    width: "125px"; 
    height: "150px";
}

.navbar-brand img {
    width: 100%;
}

.navbar-toggler {
    z-index: 2;
    border: 0;
}

.navbar-icon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #D3D3D3;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
    background-color: #818181;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    background-color: #818181;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/******************* sidepanel *******************/

.sidePanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0px;
  padding-top: 120px;
  right: 0;
  background-color: #D3D3D3;
  overflow-x: hidden;
  transition: 0.6s;
}


.sidePanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidePanel hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(36, 66, 79, 0), rgba(36, 66, 79, 0.75), rgba(36, 66, 79, 0));
}

.sidePanel a:hover {
  color: #f1f1f1;
}

.sidePanel .activePage a {
  color: #f1f1f1;
  }

/******************* jumbotron *******************/

header {
    height: 80vh;
    background: url("../images/coffee_background2.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    display: inline-block;
    padding-top: 125px;
    width: 100%;
    background: transparent;
    color: 	#f1f1f1;
    text-align: center;
    font-size: 0.8em;
}

.jumbotron h1 {
    font-weight: 400;
    font-size: 2.5em;
}

.jumbotron h2 {
    font-size: 2em;
}

.jumbotron p {
    font-size: 1.5em;
}

.jumbotron hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(77, 0, 77, 0), rgba(77, 0, 77, 0.75), rgba(77, 0, 77, 0));
}


.coffee-map2 {
    position: relative;
}

.coffee-map2::after {
    display: block;
    content: '';
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
}

.coffee-map2 img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/******************* footer *******************/

footer {
    background-color: #24424f;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
}


/******************* media queries *******************/
/*@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-right: 50%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        right: 0;
    }
}*/

@media (max-width: 576px) {
    .navbar-brand {
        width: 80px;
        height: 100px;
    }

    .jumbotron h1 {
        font-size: 2em
    }
    
    .jumbotron h2 {
        font-size: 1.5em
    }
    
    .jumbotron p {
        font-size: 1em
    }

}

